/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    background-image: url(https://cdn.pixabay.com/photo/2016/10/25/14/03/clouds-1768967_1280.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    color: #96cbea;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #9db6f5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #9db6f5;
}

.weather-info {
    margin-top: 20px;
}

.weather-info p {
    font-size: 18px;
    margin: 5px 0;
}

.weather-info img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.error {
    color: red;
    font-size: 18px;
    margin-top: 20px;
}